{{ define "Success" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
 <title>Login System in Go and MySQL</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <h1>Successfully Login in the System.</h1>
</body>
</html>
{{ end }}